{% extends "base.html" %}
{% block conteudo %}
<h2>Histórico de Retiradas</h2>

<table>
    <tr>
        {% if session.get('admin') %}
        <th>ID</th>
        <th>Funcionário</th>
        {% endif %}
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Data</th>
    </tr>
    {% for r in registros %}
    <tr>
        {% if session.get('admin') %}
        <td>{{ r[0] }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td>{{ r[4] }}</td>
        {% else %}
        <td>{{ r[0] }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}