{% extends "base.html" %}
{% block conteudo %}
<h2>Retirar Produto</h2>

{% if mensagem %}
<p><strong>{{ mensagem }}</strong></p>
{% endif %}

<form method="POST">
    <label>Produto:</label><br>
    <select name="produto_id">
        {% for p in produtos %}
        <option value="{{ p[0] }}">{{ p[1] }} ({{ p[2] }} disponíveis)</option>
        {% endfor %}
    </select><br>

    <input type="number" name="quantidade" placeholder="Quantidade" required min="1"><br>
    <button type="submit">Retirar</button>
</form>
{% endblock %}